{% extends 'base.html' %}
{% block content %}

<section class="section-padding">
    <h2 class="section-title">Professional Makeup</h2>

    <table class="premium-table">
        <tr>
            <td>Bridal HD Makeup</td>
            <td>₹15000</td>
            <td>
                <button class="add-to-cart"
                    onclick="addToCart('Bridal HD Makeup',15000,this)">
                    Add
                </button>
            </td>
        </tr>
    </table>

</section>

{% endblock %}